
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


:root {
    --my-titolo: #636373;
    --my_paragrafi: #F2D544;
    --my-bg-primario:#A62103;
    --my-bg-secondario: #BF2424;
    --my-bg-terziario: #262626;
    --my-color-white: #ffffff;
    
};


h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
    color: var(--my-color-white);
};

p, ul {
    font-family: "Open Sans", sans-serif;
    color: var(--my-color-white);
}

body {
    display: flex;
    background: url(/Immagini/pexels-asadphoto-3155666.jpg);

}


/* ========================= Bg Navbar ======================== */
.my-navbar-bg {

    background: var(--my-bg-terziario);

}
/* ========================= Bg Navbar END ======================== */

/* ========================= Header ======================== */

.my-dim-logo{
    font-size: 3rem;
}

/* ========================= END Header ======================== */

/* ========================= MAIN ======================== */
.my-main {

    display: flex;
}
/* ========================= END MAIN ======================== */

.my-logo {

height: auto;

width: 9rem;

}

.my-carousel {

height: 80vh;

width: auto;

}

/* ======================= CARD ================== */

.mia-top-card {

top: -2.5rem;

}


/* ======================= CARD END ================== */

/* ======================= I nostri numeri ================== */

#nostri_numeri h2 {

color: #F2B263;
font-size: 3rem;

}

#nostri_numeri p {

    font-size: 1.8rem;
    margin-left: 4rem;
}

#nostri_numeri span {

font-size: 2.5rem;

color: #3B4F8C;

}

/* ======================= I nostri numeri END ================== */


#my_radio_parent {

background: var(--my-bg-secondario);

}

